input {
  padding: 10px;
  border: 1px solid #ddd;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 60px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.dot {
  background-color: rgba(255, 255, 255, 0.50);
  color: rgba(255, 255, 255, 0);
}

input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgb(255, 255, 255);
}

.inputBoxes {
  padding-top: 75px;
}

.numbers {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

.number {
  background-color: transparent;
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 5px;
  margin-bottom: 10px;
}

.number:active {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgb(255, 255, 255);
}

.number:focus {
  outline: none;
}

.pin_font {
  color: white;
  font-size: 35px;
}

.letter_font {
  color: white;
}

.numpad {
  text-align: center;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  background-image: url("./images/bgblur.jpg");
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
